.app {
  background: #f7f7f7;
  padding: 30px;
  height: 100vh;
}

.patient-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.patient-card {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.disabled-patient {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  color: #7d7d7d;
}

.btn {
  font-size: 10px !important;
  margin-left: 5px;
}
.button-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.patient-info-group {
  text-transform: capitalize;
  padding: 10px;
  height: 5em;
  width: 100%;
}

h1 {
  font-size: 2em !important;
  text-align: center;
  padding-bottom: 10px;
}
